body {
    background-color: black;
}
h1 {
    color: white;
}

/* Clip text element */
.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}
/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}
/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}
/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}
.clip-text--no-textzone:after {
    content: none;
}
.clip-text_fifteen {
    background-image: url(https://cloud.githubusercontent.com/assets/26077051/24782546/e82db1e8-1b14-11e7-90fb-6f872ab1cc14.jpg);
    width: 100%;
}
#lossCounter {
    display: none;
}
.word-box {
    color: #7FFF00;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}
.letter-box {
    color: #7FFF00;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}
.guess-count {
    color: #7FFF00;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}
.win-count {
    color: #7FFF00;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}














